.foods {
  margin-left: 10px;
}
.foods__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foods__form h2 {
  font-size: 1.5rem;
  color: #19195b;
}

.ulFoods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #aaaaa817;
}
.liFoods {
  list-style: none;
}

.ulFoodDetails {
  list-style: none;
}

.foodItem {
  font-size: 18px;
}

.foodName {
  color: #000;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}

.foodDesc {
  margin: 0;
  text-wrap: wrap;
}

.foodPrice {
  margin: 0;
  color: #041218;
  font-weight: 700;
  text-align: center;
  font-size: 0.8rem;
}
.search {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 300px;
  height: 25px;
  padding-bottom: 10px;
}
.search input[type="search"] {
  font-size: 12px;
  width: 300px;
  height: 35px;
  border-radius: 30px;
  background-color: #fff;
  color: #3e4555;
  box-shadow: 0 2px 2px #dddfe1;
  padding-left: 35px;
}
.search label {
  position: absolute;
  font-size: 2rem;
  color: #000;
  font-weight: 600;
  left: -99999px;
}

.searchInput::placeholder {
  font-size: 1rem;
  color: #3e4555;
}

.search svg {
  position: absolute;
  left: 8px;
  top: -4px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  color: #ccc;
}

/* .home svg {
  width: 50px;
  height: 25px;
} */
.foodImg {
  width: 160px;
  height: 160px;
  border-radius: 1rem;
  cursor: pointer;
}

/*TABLETS*/

@media screen and (max-width: 768px) {
  .ulFoods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .foodImg {
    width: 180px;
    height: 180px;
    cursor: pointer;
  }
  .foodName {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .foodPrice {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .foods__form > h2 {
    font-size: 2rem;
    color: #000;
  }
  .search {
    width: 400px;
    height: 40px;
  }
  .search input[type="search"] {
    font-size: 20px;
    width: 400px;
    height: 40px;
    padding-left: 35px;
  }

  .search input [type="search"]::placeholder {
    font-size: 4.5rem;
    color: #3e4555;
  }

  .search svg {
    position: absolute;
    left: 12px;
    top: 5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    color: #ccc;
  }

  .home svg {
    width: 80px;
    height: 40px;
  }
}
@media screen and (max-width: 480px) {
  .ulFoods {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .liFoods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .foodImg {
    width: 160px;
    height: 160px;
    cursor: pointer;
  }
  .foods__form > h2 {
    font-size: 1.8rem;
    color: #000;
  }

  .search {
    width: 400px;
    height: 60px;
  }

  .search input[type="search"] {
    font-size: 20px;
    width: 300px;
    height: 40px;
    padding-left: 30px;
  }

  .search svg {
    height: 20px;
    width: 20px;
    left: 60px;
    top: 16px;
  }

  .home svg {
    width: 40px;
    height: 30px;
  }
  .foodName {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .foodPrice {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
