.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  font-size: 1rem;
  list-style: none;
  width: 100%;

  color: #eee;
}

.heading {
  font-size: 3rem;
}

.selItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.liMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.selItem svg {
  width: 48px;
  min-width: 48px;
  height: 36px;

  /* font-size: 2rem; */
  color: #093305;
  cursor: pointer;
}

.selItem p {
  font-size: 20px;
  width: 200px;
}

.linkContainer {
  align-self: flex-start;
  font-size: 40px;
}

.nav .cart {
  font-size: 40px;
}

.cartList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.cartList > li {
  list-style: none;
  align-self: center;
  column-gap: 16px;
}
