:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #072c18;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 100%;
  box-sizing: border-box;
  /* width: 850px; */
}

body {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  /* background-color: #39b385; */

  /* overflow-y: scroll; */
}

.App {
  display: grid;
  grid-template-columns: 5% 95%;
  background: #1422477c;
  color: white;
  border: #a5c1f6 solid 2px;
  width: inherit;
  /* transform: translate(-50%, 0%); */
  /* background-image: url(../../img/mediumField.jpg); */
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sidebarContainer {
  grid-column: 1/2;
}

.main-content {
  grid-column: 2/-1;
}
.main-content-full {
  grid-column: 1/-1;
}

.sectionMain .foodTitle {
  color: #012329;
}

h4 {
  text-align: center;
  margin-bottom: 70px;
  color: #012329;
}

.sectionMain > h4 {
  color: #444;
}

.footer {
  text-align: center;
  grid-column: 1/-1;
  font-size: 10px;
  background-color: #102118;
  padding-bottom: 2px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

/*TABLETS*/

@media screen and (max-width: 768px) {
  .footer {
    font-size: 20px;
    /* width: 820px; */
  }
  .main-content {
    grid-column: 2/-1;
  }
  .main-content-full {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer {
    font-size: 90%;
  }
}

/*Mobiles*/

@media screen and (max-width: 480px) {
  .App {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    grid-column: 2/-1;
  }
  .main-content-full {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .footer {
    grid-column: 1/-1;
    font-size: 12px;
    width: 500px;
  }
}
