.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  width: 100%;
  padding: 0 3rem;
  z-index: 100;
}
/* .nav {
  display: grid;
  grid-template-columns: 500px 300px;
} */
.links {
  display: flex;
  flex-direction: row;
}

.title {
  color: #042e35;
  width: 100%;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1px;
  text-align: center;
  margin: 10 30%;
  margin-top: 3%;
}

.subTitle {
  color: #012329;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0;
}
.foodsLink,
.contactsLink,
.cartLink,
.settingsbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  text-decoration: none;
  font-weight: 700;
  font-size: 0.6rem;
  margin: 5px 10px;
}
.settingsbtn span {
  color: #222245;
}

.contactsLink svg,
.foodsLink svg,
.cartLink svg,
.settingsbtn svg {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  padding: 20px 0;
  cursor: pointer;
}

.settingsbtn {
  color: darkgrey;
}
.settingsbtn svg {
  background-color: #272771;
  border-radius: 50%;
  padding: 0;
}

.outlineMenu {
  color: red;
  font-size: 10px;
  margin-left: 10px;
  justify-self: left;
  align-self: self-start;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    width: 800px;
  }

  .title {
    color: #042e35;
    font-weight: 700;
    font-size: 200%;
    line-height: 1px;
    margin: 5% 10%;
  }

  .subTitle {
    color: #012329;
    font-weight: 700;
    font-size: 160%;
    margin: 10px 0;
  }
  .outlineMenu {
    justify-self: left;
    align-self: self-start;
  }

  .settingsbtn span,
  .foodsLink span,
  .contactsLink span,
  .cartLink span {
    font-size: 0.8rem;
  }
}

/*Mobiles*/
@media screen and (max-width: 480px) {
  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: #042e35;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1px;
    margin: 20px 0;
  }

  .subTitle {
    color: #012329;
    font-weight: 700;
    font-size: 150%;
    margin: 10px 0;
  }

  .foodsLink,
  .contactsLink,
  .cartLink {
    font-size: 7.2px;
  }
  .settingsbtn {
    font-size: 7.2px;
  }
  .outlineMenu {
    font-size: 20px;
    margin-left: 5px;
  }
}
