.contentContainer {
  display: grid;
  grid-template-columns: 47.5% 5% 47.5%;
}

h1 {
  font-size: 20px;
}

.missionStatement {
  font-size: 20px;
  position: relative;
  font-style: italic;
  padding: 5px;
  color: #000;
  margin: 10px 0 0 20px;
  background-color: #306e746b;
  border-radius: 30px;
  grid-row: 1/3;
  grid-column: 1/2;
  height: 200px;
}
.farm {
  display: grid;
  grid-template-rows: 1fr 1fr 30px;
}
.farmContainer {
  display: grid;
  grid-template-columns: 20px 1fr 4px 1fr;
  justify-content: center;
  align-items: center;
}
.storageContainer {
  display: grid;
  grid-template-columns: 20px 1fr 2px 1fr;
  justify-content: right;
  align-items: center;
}

.farmContent {
  font-size: 1rem;
  grid-column: 4/5;
  grid-row: 2/3;
}

.farmImg {
  height: 200px;
  width: 250px;
  grid-column: 4/5;
  grid-row: 1/2;
}
.storageContent {
  font-size: 1rem;
  grid-column: 2/3;
  grid-row: 1/2;
}
.storageImg {
  height: 200px;
  width: 250px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.liAppHeading {
  padding-bottom: 10px;
  color: #0c0505;
  font-size: 1.2rem;
  font-weight: 700;
}

.liApp {
  display: flex;
  color: #1207a9;
  font-weight: 700;
  font-size: 0.9rem;
  justify-content: center;
}

.missionStatement::first-letter {
  float: left;
  color: var(--color-primary-darker);
  font-size: 2.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.foodApp {
  justify-self: center;
  align-self: center;
  font-size: 12px;
  list-style-type: none;
  padding: 10px 0;
  grid-column: 3/4;
  margin: 18px 0;
}

/* .sectionHeader {
  grid-column: 1/-1;
} */

/*TABLETS*/

@media screen and (max-width: 768px) {
  .contentContainer {
    display: grid;
    grid-template-columns: 47% 48% 5%;
  }
  .foodApp {
    justify-self: center;
    align-self: center;
    font-size: 120%;
    list-style-type: none;
    grid-column: 2/3;
    margin: 40px 0;
  }

  .missionStatement {
    font-size: 140%;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    height: 320px;
  }

  .missionStatement::first-letter {
    float: left;
    color: var(--color-primary-darker);
    font-size: 230%;
    font-weight: 700;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .missionStatement h3 {
    font-size: 100%;
  }
  .liAppHeading {
    font-size: 110%;
  }

  .outlineMenu svg {
    font-size: 30px;
  }
  .outlineMenuClose svg {
    font-size: 20px;
  }

  .settingsbtn svg {
    background-color: #272771;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    height: 30px;
    width: 30px;
  }

  .cartLink svg,
  .contactsLink svg,
  .foodsLink svg {
    cursor: pointer;
    padding: 0;
    height: 30px;
    width: 30px;
  }
  .settingsbtn {
    font-size: 24px;
  }
}

/*Mobiles*/

@media screen and (max-width: 480px) {
  .contentContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .foodApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    list-style-type: none;
    grid-column: 1/-1;
    margin: 20px 0;
  }
  .missionStatement {
    font-size: 1.4rem;
    position: relative;
    font-style: italic;
    font-weight: 600;
    color: #000;
    margin: 100px 5px;
    margin-bottom: 0;
    background-color: #306e746b;
    border-radius: 30px;
    grid-column: 1/-1;
    width: 380px;
    height: 220px;
  }
  .missionStatement::first-letter {
    float: left;
    color: var(--color-primary-darker);
    font-size: 3rem;
    font-weight: 700;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .missionStatement h3 {
    font-size: 90%;
  }
  .liAppHeading {
    padding-bottom: 10px;
    color: #0c0505;
    font-size: 1rem;
    font-weight: 700;
  }
  .outlineMenu {
    font-size: 12px;
  }

  .outlineMenuClose svg {
    font-size: 40px;
  }
  /* .settingsbtn svg {
    background-color: #272771;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    height: 25px;
    width: 25px;
  } */

  /* .foodsLink {
    font-size: 0.6rem;
  }
  .contactsLink {
    font-size: 0.6rem;
  }
  .cartLink {
    font-size: 0.6rem;
  }
  .settingsbtn {
    font-size: 0.6rem;
    color: #2e19ca;
  } */
}
