.sidebar-btn {
  margin-right: 5px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btnContainer .btnClose {
  background-color: #06472e;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
}

.btnClose:hover,
.btnClose:focus {
  background-color: #000;
}
.btnClose:active {
  background-color: #06482f;
  box-shadow: none;
}

@media screen and (max-width: 480px) {
  .sidebar-btn {
    font-size: 50px;
  }

  .btnContainer .btnClose {
    border-radius: 50%;
    cursor: pointer;
    font-size: 26px;
    margin-top: 25px;
  }
}
