.sidebar-btn {
  margin-right: 20px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btnClose {
  background-color: #06472e;
  border-radius: 50%;
}

.btnClose:hover,
.btnClose:focus {
  background-color: #000;
}
.btnClose:active {
  background-color: #06482f;
  box-shadow: none;
}
