.liBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.toggleButton {
  font-size: 10px;
  padding: 1px 2px;
  border: none;
  color: #fff;
  background-color: #05424c;
  margin-right: 3px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .toggleButton {
    font-size: 12px;
  }
}
