.liBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.toggleButton {
  font-size: 1.5rem;
  padding: 6px 14px;
  border: none;
  color: #fff;
  padding: 20px 20px;
  background-color: #05424c;
  /* margin-top: 200px; */
  cursor: pointer;
}
